<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Vue learning</title>
</head>
<body>
    <!-- 简单双向绑定 -->
    <div id="app">
      <p>原始文本信息：{{message}}</p>
      <h3>文本框</h3>
      <p>v-model: <input type="text" v-model.lazy="message"></p> 
                                            <!-- .lazy：取代 input 监听 change 事件 
                                                 .number：输入字符串转为数字
                                                 .trim：输入去掉首尾空格
                                            -->
    </div>
    
    <script type="text/javascript">
      var app = new Vue({
          el: "#app",
          data: {
              message: "Hello World!"
          }

          
      })
    </script>
    <!-- 简单双向绑定 -->

    <!-- 多选绑定一个数组 -->
    <div id="app2">
        <h3>多选绑定一个数组</h3>
        <p>
            <input type="checkbox" id="A" value="A" v-model="web_names">
            <label for="A">A</label>
            <input type="checkbox" id="B" value="B" v-model="web_names">
            <label for="B">B</label>
            <input type="checkbox" id="C" value="C" v-model="web_names">
            <label for="C">C</label>
            <input type="checkbox" id="D" value="D" v-model="web_names">
            <label for="D">D</label>
            <input type="checkbox" id="E" value="E" v-model="web_names">
            <label for="E">E</label>
            <P>{{web_names}}</P>

        </p>
    </div>
    <script type="text/javascript">
      var app = new Vue({
          el: "#app2",
          data:{
            web_names: []
          }

      })
    </script>
    <!-- 多选绑定一个数组 -->
</body>
</html>